{% extends 'base.html.twig' %}

{% block content %}
	<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-12">
				<a class="navbar-brand mb-2" href="{{ path('inicio') }}" id="enlace_inicio" data-toggle="tooltip" data-placement="top" title="Ir a inicio">
					<img src="img/logo_inverso.png" alt="Logotipo" height="50">
				</a>
				<div class="card-box" id="card_list_recetas">
					<div class="row">
						<div class="col">
							<legend>Tus recetas</legend>
						</div>
						<div class="col text-right">
							<a class="btn btn-primary" href="{{ path('mostrarFormAddReceta')}}" role="button" data-toggle="tooltip" data-placement="top" title="Crear nueva receta">Nueva</a>
						</div>
						{#dump(recetas)#}
					</div>

					<table class="table table-responsive-xl" id="table_recetas_user">
						<thead>
							<tr>
								<th scope="col">Imagen</th>
								<th scope="col">Nombre</th>
								<th scope="col">Valoración</th>
								<th scope="col">Nº votos</th>
								<th scope="col">Fecha creación</th>
								<th scope="col">Acciones</th>
							</tr>
						</thead>
						<tbody>
							{% for receta in recetas %}
								<tr>
									{% if receta.ImagenUrl is not empty %}
										<td><img src="img/recetas/{{receta.ImagenUrl}}" alt="{{ receta.Nombre }}" width="80"></td>
									{% else %}
										<td><img src="img/recetas/nofoto.jpg" alt="{{ receta.Nombre }}" width="80"></td>
									{% endif %}

									<td id="celda_nombre">{{ receta.nombre }}</td>
									{% set valPromedio = (receta.valoracion and receta.numValoraciones ? receta.valoracion / receta.numValoraciones : 0) %}
									<td>{{valPromedio|number_format(1, '.')}}/5</td>
									<td>{{receta.numValoraciones}}</td>
									<td>{{ receta.fechaCreacion|date("d/m/y") }}</td>
									<td>
										<a href="{{ path('verDetalles', {id: receta.Id})}}" class="mr-1">
											<i class="fa-solid fa-eye" data-toggle="tooltip" data-placement="top" title="Ver la receta"></i>
										</a>
										<a href="{{ path('mostrarFormEditReceta', {id: receta.Id}) }}" class="mr-1">
											<i class="fa-solid fa-pen-to-square" data-toggle="tooltip" data-placement="top" title="Editar la receta"></i>
										</a>
										<a href="#" class="mr-1 eliminar-recetas-link" id="eliminar-recetas-link" data-receta-id = "{{ receta.id }}">
											<i class="fa-solid fa-trash-can" data-toggle="tooltip" data-placement="top" title="Borrar la receta"></i>
										</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="mt-4">
					{{ knp_pagination_render(recetas, 'paginacion/my_pagination.html.twig') }}
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block javascripts %}
	<script src="/js/list_recetas_user.js"></script>
{% endblock %}
