{% extends 'base.html.twig' %}

{% block title %}
	{{receta.Nombre}}
{% endblock %}

{% block content %}
{{dump(receta)}}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="/libs/star-rating-svg/star-rating-svg.css">
{% endblock %}

hola
	{% for comentario in receta.comentarios %}
		<li class="list-group-item">{{ comentario.contenido }} - {{ comentario.usuario.nombre }} - {{ comentario.FechaCreacion|date("d/m/y \\a \\l\\a\\s H:i") }}</li>
	{% endfor %}
hola



	<!--Contenido dinámico -->
	<div class="card-box">
		<input type="hidden" id="idReceta" value="{{receta.id}}">
		<h1 class="detalleReceta_titulo">{{receta.nombre}}</h1>
		<hr id="titulo_separador">

		<div class="row">
			<div class="col-lg-12">
				<div class="row mb-3">
					<div class="col-md-9">
						<div class="row mb-2">
							<div class="col-sm-auto"><span><a href="{{ path('filtroCategoria', {'id': receta.categoria.id })}}" class="rdr-tag">{{ receta.categoria.nombre }}</a></span></div>
							<div class="col-sm-auto"><span class="rdr-tag">{{receta.dificultad[0]}}</span></div>
							<div class="col-sm-auto"><span class="rdr-tag">{{receta.tiempo}} min.</span></div>
							<div class="col-sm-auto"><span class="rdr-tag">{{receta.numPersonas}} pers.</span></div>
						</div>
					</div>
					<div class="col-md-3  d-flex justify-content-end" id="receta_autor">
						<div class="row" id="autor">
							<div class="col-sm-12 mb-2">
								<p class="rdr-author">Receta de <a href="#">{{receta.usuario.nombre}}</a> 
									<img width="40" height="40" src="img/usuarios/hugo.jpg" class="rdr-avatar" alt="{{receta.usuario.nombre}} - Cocinero en yConEstoQueCocino" loading="lazy"  sizes="(max-width: 40px) 100vw, 40px">
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-9">
						<div class="row">
							<div class="my-rating-4 ml-2" data-rating="{{ receta.valoracion / receta.numValoraciones }}"></div>
							<div class="text-muted ml-2" id="valPromedio">{{(receta.valoracion / receta.numValoraciones)|number_format(1, '.')}}/5</div>
							<div class="col-sm-2 text-muted" id="numVal">{{receta.numValoraciones}} votos</div>
						</div>
					</div>
				</div>
				<div class="row mb-4">
					<div class="col-sm-12"><img class="card-img-top" src="img/recetas/{{receta.ImagenUrl}}" alt="{{ receta.Nombre }}"></div>
				</div>
				<div class="row mb-4" id="ingredientes">
					<div class="col-md-12" id="detalleReceta_fondoIngr">
						<h4 class="detalleReceta_subtitulo">Ingredientes:</h4>
						<ul class="list-group list-group-flush">
							{% for ingred in arrayIngredientes %}
								<li class="list-group-item">{{ ingred }}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				<div class="row" id="elaboracion">
					<div class="col-sm-12">
						<h4 class="detalleReceta_subtitulo mb-4">Elaboración:</h4>
						{{ receta.elaboracion|raw }}
					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
{% block javascripts %}
	<script src="/libs/star-rating-svg/jquery.star-rating-svg.js"></script>
	<script src="/js/detalleRecetas.js"></script>
{% endblock %}
